.fieldContainer {
    display: flex;
    border: solid 4px #551700;
    background-color: ghostwhite;
    border-radius: 5px;
    width: fit-content;
    height: fit-content;
    margin: auto;
}

.tableRows {
    display: flex;
    justify-content: center;
}

.tableData {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: ghostwhite;
    padding: 0;
}
