.fieldContainer {
    display: flex;
    border: solid 6px #551700;
    border-radius: 5px;
    width: fit-content;
    height: fit-content;
    margin: auto;
}

.field {
    border-spacing: 0;
}

.tableRows {
    display: flex;
    justify-content: center;
}

.tableData {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}
