.fieldContainer {
    display: flex;
    border: solid 5px #551700;
    border-radius: 5px;
    max-width: 750px;
    min-width: 225px;
    max-height: 500px;
    min-height: 225px;
    margin: 0 1.5rem 1.5rem 1.5rem;
    overflow: scroll;
}

.field {
    border-spacing: 0;
}

.tableRows {
    display: flex;
    justify-content: center;
}

.tableData {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

@media only screen and (max-width: 550px) {
    .fieldContainer {
        margin: 0 1rem 1rem 1rem;
    }
}
