.headerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #383838;
    max-width: 750px;
    margin: auto;
}

.headerTitle {
    display: flex;
    align-items: center;
    height: 7.5rem;
    gap: 1rem;
}

.title {
    font-size: 4rem;
    font-family: 'Tac One', sans-serif;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
}

.headerHat {
    height: 3rem;
    color: #67221B;
}

.gameInstructions {
    display: flex;
    text-align: center;
    font-size: 1.5rem;
    margin: -2rem 2rem 0rem 2rem;
}

@media only screen and (max-width: 770px) {
    .title {
        font-size: 3.5rem;
    }
    .headerHat {
        height: 2.75rem;
    }
    .gameInstructions {
        font-size: 1.25rem;
    }
}

@media only screen and (max-width: 415px) {
    .headerContainer {
        display: none;
    }
}
