.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.movementButtonsDiv {
    display: flex;
    flex-direction: row;
    gap: 0.45rem;
    justify-content: center;
    align-items: center;
}

.moveSidewaysButtonsContainer {
    display: flex;
    gap: 0.5rem;
}

.moveLeftButton, .moveUpButton, .moveDownButton, .moveRightButton {
    padding: 0.4rem;
    font: inherit;
    width: 2.5rem;
    border: none;
    background-color: #551700;
    color: #EFC8C3;
    border-radius: 5px;
    font-size: 1rem;
    line-height: 1.4rem;
}

button:hover {
    background-color:rgb(85, 23, 0, 0.5);
}

button:active {
    background-color:rgb(85, 23, 0, 0.75);
}

.faArrowUp, .faArrowLeft, .faArrowRight, .faArrowDown {
    background-color: transparent;
}

@media only screen and (min-width: 551px) {
    .wrapper {
        display: none;
    }
}
