.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.movementButtonsDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: 7rem;
    position: absolute;
    bottom: -1rem;
    width: 95%;
}

button {
    padding: 0.5rem;
    font: inherit;
    width: 6rem;
    border: none;
    background-color: #551700;
    color: #EFC8C3;
    border-radius: 5px;
    font-size: 1.15rem;
    line-height: 1.5rem;
}

button:hover {
    background-color:rgb(85, 23, 0, 0.5);
}

button:active {
    background-color:rgb(85, 23, 0, 0.75);
}

.faArrowUp, .faArrowLeft, .faArrowRight, .faArrowDown {
    margin-left: 0.85rem;
    background-color: transparent;
}
