.startingContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #383838;
    margin: 0 auto;
    max-width: 750px;
    gap: 2rem;
}

.startingInstructionsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.startingInstructionsText {
    text-align: center;
    max-width: 750px;
    margin: 0 2rem;
    font-size: 1.25rem;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin: 0 1.5rem;
}

.inputFields {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 750px;
    margin: 0 2rem;
}

.inputField {
    background-color: ghostwhite;
    box-sizing: border-box;
}

.width, .height, .percentage {
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
}

label {
    text-align: center;
    font-size: 1.15rem;
}

input {
    text-align: center;
    border-radius: 5px;
    height: 2rem;
    font-size: 1rem;
    border: none;
    width: 10rem;
    padding: 2px;
    margin: 10px auto;
}

input:focus {
    outline: #551700 solid 2px;
}

.submitButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.75rem auto 3rem auto;
    width: 10rem;
    background-color: #551700;
    color: #EFC8C3;
    padding: 0.5rem;
    font: inherit;
    line-height: 1.5rem;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.15rem;
    border: none;
}

.submitButton:focus {
    outline: none;
}

.submitButton:hover {
    background-color:rgb(85, 23, 0, 0.5);
}

.submitButton:active {
    background-color:rgb(85, 23, 0, 0.75);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]{
    -moz-appearance: textfield;
}

@media only screen and (max-width: 770px) {
    .startingInstructionsText {
        font-size: 1.15rem;
    }
    label {
        font-size: 1.10rem;
    }
}

@media only screen and (max-width: 512px) {
    .startingContainer {
        gap: 1.5rem;
    }
    .startingInstructionsText {
        font-size: 1.05rem;
    }
    form {
        gap: 1rem;
    }
    .inputFields {
        width: 100%;
    }
    input {
        width: 100%;
    }
    label {
        font-size: 1.05rem;
    }
    .width, .height, .percentage {
        width: 100%;
        margin: 0 auto;
    }
    .submitButton {
        width: 100%;
    }
}
