.startingContainer {
    color: #383838;
}

.startingInstructionsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.startingInstructionsText {
    text-align: center;
    width: 32rem;
    font-size: 1.25rem;
    padding: 0 2rem;
}

form {
    display: flex;
    justify-content: center;
}

.startingForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.inputField {
    background-color: ghostwhite;
}

.width, .height, .percentage {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.75rem;
}

label {
    margin-top: 0.5rem;
    margin-bottom: 0.65rem;
    text-align: center;
    font-size: 1.15rem;
}

input {
    text-align: center;
    border-radius: 5px;
    height: 2rem;
    font-size: 1.15rem;
    border: none;
    width: 10rem;
}

input:focus {
    outline: #551700 solid 2px;
}

.submitButtonContainer {
    display: flex;
    align-items: center;
}

.submitButton {
    background-color: #551700;
    color: #EFC8C3;
    padding: 0.5rem;
    font: inherit;
    line-height: 1.5rem;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.15rem;
    border: none;
    width: 10rem;
}

.submitButton:focus {
    outline: none;
}

.submitButton:hover {
    background-color:rgb(85, 23, 0, 0.5);
}

.submitButton:active {
    background-color:rgb(85, 23, 0, 0.75);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]{
    -moz-appearance: textfield;
}
