* {
  background-color: #EFC8C3;
}

html {
  overflow: hidden;
  height: 100%;
  overscroll-behavior: none;
}

body {
  overflow: auto;
  height: 100%;
  overscroll-behavior: none;
}

button {
  cursor: pointer;
}
